@font-face {
    font-family: Dancing-Script;
    src: url(Dancing_Script/DancingScript-VariableFont_wght.ttf);
}
body {
    background-image: url("../Images/double-bubble.png");
    background-repeat: repeat;
    background-position: center;
}
h1 {
    font-family: Dancing-Script;
}
.margin-top {
  margin-top: 20px;
  padding: 20px;
}
@media (max-width: 600px) {
    
        header.navbar {
          margin-left: 0;
          margin-right: 0;
          margin-bottom:0;
        }
        .fixed-bottom {
          position: relative;
          padding-bottom: 20px;
          padding-top: 20px;
          margin-top: 20px;
        }
        #contact-footer {
          position: fixed;
          padding-top: 20px;
          margin-top: 20px;
          bottom: 0;
          left: 0;
          right:0;
        }
    }